{% extends 'base.html' %}
{% load static %}
{% block css%}<link rel="stylesheet" type="text/css" href="{% static 'css/employment.css' %}" />{% endblock css %}
{% block nav_bar_employment %} active {% endblock nav_bar_employment %}
{% block title%} {{ title }} {% endblock title %}
{% block main_content %}
    <h1>Employment Home - Extended</h1>
    <div id="employment-home" class="emp-header">
        <div class="header-name">
            <div class="test">Employer Details</div>
        </div>
        <div class="header-accomp">Accomplishments</div>
        <div class="header-description">Description</div>
        {% for employer in employers %}
        <div class="holder1">
            <span>{{ employer.name }}</span><br />
            <span>{{ employer.type }}</span><br />
            <span>{{ employer.start_date|date:'F Y' }} | {% if employer.end_date == '' or employer.end_date == none  %}
                                                            Current
                                                        {% else %}
                                                            {{ employer.end_date|date:'F Y' }}
                                                        {% endif %}
            </span>
            <!--<div class="col-lg-4">{{ employer.name }}</div>-->
            <!--<div class="col-lg-4">one "A"</div>
            <div class="col-lg-4">one "B"</div>-->
        </div>
        <div class="holder2" style="background-color: lightblue">
            Accomplishments
            <ul>
                {% for accomp in accomplishments %}
                    {% if accomp.company_name|stringformat:"s" == employer.name %}
                        <li><span style="color:red; background-color: black">{{ accomp.title }}</span></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="holder3" style="background-color: brown">{{ employer.company_description }}</div>
        {% endfor %}
    </div>
    <!--{% for employer in employers %}
        <div class="row employer-even">
            <div class="col-lg-3" style="color: red; font-size: 20">{{ employer.name }}</div>
            <div class="col-lg-3" style="color: blue; font-size: 14">Type: {{ employer.type }}</div>
            <div class="col-lg-6">{{ employer.start_date|date:'F Y' }} |
                {% if employer.end_date == '' or employer.end_date == none  %}
                    Current
                {% else %}
                    {{ employer.end_date|date:'M F' }} |</div>
                {% endif %}
        </div>
    {% endfor %}-->
{% endblock main_content %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/employment.js' %}"></script>
{% endblock js%}